@inherits LayoutComponentBase

<PageTitle>Blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row text-center bg-dark">
            <a href="/" class="text-white text-decoration-none">Blazor Curd Application</a>         
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
