@page "/"

<PageTitle>Home</PageTitle>

<div class="row m-5">
    <div class="col-md-8 m-auto p-5 shadow text-center">
        <h1 class="p-4 alert-info rounded m-2">Blazor</h1>
        <h3>A Simple Crud Operations</h3>
    </div>
</div>


